{% extends 'base.html' %} {% block main %}
<div class="mb-4 text-center">
  <small class="text-muted h2">Edit a List</small>
</div>
<form
  class="row needs-validation"
  action={{ url_for('edit_list', list_id=list.list_id) }}
  method="POST"
  id="edit-list-form"
>
  <label for="name" class="form-label">{{form.name.label}}</label>
  <div class="input-group mb-3">
    {{form.name(class="form-control", value=list.name)}} {{
    form.submit(class="btn btn-primary")}}
  </div>
</form>

{% endblock main %}
