{% extends 'user_base.html' %} {% block content %}
<div class="mb-4">
  <h3 class="text-center">Welcome to the Kanban app</h3>
  <p class="text-muted h2">Sign in</p>
</div>

<form
  class="row needs-validation"
  action={{url_for('login')}}
  method="POST"
  id="login-form"
>
  <label for="email" class="form-label">{{form.email.label}}</label>
  <div class="input-group mb-3" id="email">
    {{form.email(class="form-control")}}
  </div>

  <label for="password" class="form-label">{{form.password.label}}</label>
  <div class="input-group mb-3" id="password">
    {{form.password(class="form-control", type="password")}}
  </div>

  <div class="col-12 mb-3">
    <div class="form-group">{{ form.submit(class="btn btn-outline-dark")}}</div>
  </div>

  <div>
    <label for="does-not-exist" class="form-label"
      >Don't have an account?</label
    >
    <a href={{url_for('register')}} id="does-not-exist" class="alert-link">Sign up</a>
  </div>
</form>
{% endblock content %}
