{% extends 'base.html' %} {% block main %}
<div class="row row-cols-3">
  {% for list in lists %}
  <div
    class="d-flex flex-column align-items-center col border border-secondary p-3"
  >
    <p class="h3 mb-3 mt-3 border p-1">{{list.name}}</p>
    {% set temp = counts[list.list_id] %}

    <ul>
      <li class="mb-3">
        Complete/Total:&nbsp;<strong
          >{{temp["total_completed"]}}/{{temp["total"]}}</strong
        >
      </li>

      <li>
        Crossed deadline/Pending:&nbsp;<strong
          >{{temp["d_passed"]}}/{{temp["total_incomplete"]}}</strong
        >
      </li>
    </ul>
    {% if temp["date_count"]|length > 0 %}
    <img
      src="{{ url_for('static', filename='png/') }}{{ list.list_id }}.png"
      width="100%"
    />
    {% else %}
    <p class="h6 mb-3 mt-3 p-1">No data to show</p>
    {% endif %}
  </div>
  {% endfor %}
</div>
{% endblock main %}
